@import "../../styles/_variables.scss";

.singleEvent {
  position: relative;
  transition: all 0.25 ease-out;
  text-align: left;
  padding: 20px 10px 20px 10px;
  margin: 0px 0px;
  position: relative;
  background-color: $lightGrey;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
  border: 2px solid $lightGrey;
  cursor: pointer;
  @media only screen and (min-width: 768px) {
    border-radius: $borderRadius;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
  }
  &.hidden {
    display: none;
  }
  &:hover {
    border: 2px solid $blue;
  }
  &.view-full {
    height: auto;
    .event-venue {
      padding-top: 20px;
    }
    .event-location {
      display: inline-block;
      opacity: 1;
      transition: all 0.15s ease-in-out;
    }
    .event-link a {
      display: inline-block;
    }
  }
  &.ticketmaster-border {
    border: 2px solid $pink;
  }
}

.artistFallback {
  background-color: white;
  background-image: url("https://www.sandiegohousemusic.com/images/housemusic192.png");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.artistImage {
  border-radius: 6px;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.eventDate {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: $blue;
}

.eventInfo {
  width: calc(100% - 100px);
}

.eventTitle {
  color: $black;
  padding-bottom: 10px;
  display: block;
}

.eventArtist {
  word-wrap: anywhere;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  position: relative;
  padding-bottom: 10px;

  > div {
    padding-right: 7px;
  }
  > div:nth-of-type(even) {
    color: $orange;
  }
  > div:nth-of-type(odd) {
    color: $pink;
  }
  @media only screen and (min-width: 768px) {
    padding-bottom: 10px;
  }
}

.truncatedArtist {
  color: grey;
  font-size: 12px;
}

.eventVenue {
  display: block;
  font-size: 15px;
  line-height: 26px;
  color: $black;
}

.eventLocation {
  @media only screen and (min-width: 768px) {
    display: block;
  }
  span {
    padding-top: 5px;
    display: block;
    font-size: 12px;
    line-height: 14px;
    a {
      color: #c1c1c1;
    }
  }
  img {
    position: relative;
    top: 0px;
    width: 10px;
    height: 10px;
    margin-left: 7px;
  }
}

.eventLink a {
  font-size: 12px;
  text-decoration: none;
  border: 1px solid rgb(221, 221, 221);
  margin-top: 20px;
  display: inline-block;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: $borderRadius;
  color: rgb(180, 180, 180);
  @media only screen and (min-width: 768px) {
    margin-top: 30px;
  }
  &:hover {
    text-decoration: none !important;
  }
}
