.artistImageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  background-color: #e0e0e0;
}

.artistImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
