.loginContainer {
  width: 40px;
}

.loginLink {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.loginIcon {
  width: 29px;
  height: 29px;
  margin-top: 8px;
  border-radius: 50%;
}
