@use "../../styles/_variables" as v;

.eventDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artistFallback {
  background-color: white;
  background-image: url("https://www.sandiegohousemusic.com/images/housemusic192.png");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 20px;
}

.artistImage {
  border-radius: 6px;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.eventInfo {
  width: calc(100%);
}

.eventDate {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: v.$blue;
  padding-bottom: 10px;
  border-bottom: 1px solid v.$lightGrey;
}

.eventTitle {
  color: v.$black;
  padding-bottom: 10px;
  display: block;
}

.eventArtist {
  font-size: 24px;
  font-weight: 500;
  word-wrap: anywhere;
  line-height: 34px;
  text-align: left;
  position: relative;
  padding-bottom: 10px;
  text-align: center;

  > div {
    padding-right: 7px;
  }
  > div:nth-of-type(even) {
    color: v.$orange;
  }
  > div:nth-of-type(odd) {
    color: v.$pink;
  }
  @media only screen and (min-width: 768px) {
    padding-bottom: 10px;
  }
}

.eventVenue {
  display: block;
  font-size: 15px;
  line-height: 26px;
  color: v.$black;
  padding-top: 20px;
}

.eventLocation {
  @media only screen and (min-width: 768px) {
    display: block;
  }
  a {
    color: #878787;

    span {
      padding-top: 5px;
      display: block;
      font-size: 12px;
      line-height: 14px;
    }
  }
  img {
    position: relative;
    top: 0px;
    width: 10px;
    height: 10px;
    margin-left: 7px;
  }
}

.eventLink a {
  font-size: 12px;
  text-decoration: none;
  border: 1px solid v.$pink !important;
  margin-top: 40px;
  display: inline-block;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: v.$borderRadius;
  background-color: v.$pink;
  color: v.$white;
  @media only screen and (min-width: 768px) {
    margin-top: 30px;
  }
  &:hover {
    text-decoration: none !important;
  }
}
