@use "../../styles/variables" as *;

.mainWrap {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    padding: 20px;
    flex-direction: row-reverse;
    .upcomingEvents {
      width: 100%;
      padding-bottom: 80px;
    }
  }
}

.upcomingEvents {
  h1 {
    border: none;
    text-align: center;
    padding-bottom: 10px;
  }
}

.eventFeed {
  padding: 0;
  padding-bottom: 40px;
  transition: all 0.25s ease-out;
  @media only screen and (min-width: 650px) {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.fixedNavigation {
    margin-top: 110px;
  }
}
