@use "../../styles/variables" as *;

.nav-burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.nav-close {
  cursor: pointer;
  top: 15px;
  right: 15px;
  position: fixed;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: $black;
  z-index: 10000;

  &:hover {
    color: $pink;
  }

  span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.nav-overlay {
  text-transform: uppercase;
  left: 0;
  right: 0;
  width: 100vw;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: $white;
  position: fixed;
  text-align: center;
  height: 100vh;
  z-index: 8998;
  display: flex;
  flex-direction: column;
  top: 0px;
  justify-content: space-around;
  &.nav-open {
    transform: translateX(0);
  }
  &.nav-closed {
    transform: translateX(-100%);
  }
  img.logo {
    margin: 0 auto;
    margin-left: -20px;
    margin-top: 20px;
  }
  .nav-items {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
      color: $black;
      padding: 20px;
      text-decoration: none;
      font-size: 30px;
    }
  }

  .social-items {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: $black;
      padding: 20px;
      text-decoration: none;
      font-size: 30px;
    }
    span {
      display: none;
    }
  }

  .twitch-follow {
    color: $pink;
    a {
      color: $pink;
      text-decoration: none;
    }
  }

  .recently-viewed {
    span {
      font-size: 20px;
      text-align: center;
      border-bottom: none;
      padding: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      li {
        padding: 5px;
        a {
          color: $black;
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }
}
