.navItem {
  position: relative;
}

.menuContent {
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  border: 1px solid #e0e0e0;
}

.menuTitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 1rem;
}
