@import "../../styles/variables";

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0 !important;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba($primary-color, 0.1);
  }
}

.countBadge {
  background-color: $black;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
}
