@use "../../styles/variables" as *;

.footer {
  padding: 80px 40px 40px;
  background: #ffffff;
  color: $borderGrey;
  border-top: 2px solid #eee;
  margin-top: 40px;
}

.grid {
  // max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  margin-bottom: 60px;

  h3 {
    color: #333;
    margin-bottom: 25px;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  min-width: 200px;

  img {
    max-width: 100%;

    height: auto;
  }
}

.navigation,
.partners {
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    color: $borderGrey;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: #333;
    }
  }
}

.social {
  .socialIcons {
    display: flex;
    gap: 20px;

    a {
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 12px;

  p {
    margin: 8px 0;
  }

  a {
    color: $borderGrey;
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }
}

.copyright {
  color: #999;
}
