@use "../../styles/variables" as *;

.artistBio {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  margin: 0 auto;

  p {
    font-size: 0.9rem;
  }
}

.artistTags {
  span {
    padding: 3px 15px;
    margin: 5px;
    border: 1px solid $blue;
    border-radius: 16px;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    background-color: $blue;
    color: $white;
  }
}
