@use "../../styles/variables" as *;

.artistFallback {
  background-color: white;
  background-image: url("https://www.sandiegohousemusic.com/images/housemusic192.png");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin: 0 auto;
  text-align: center;
}

.artistImage {
  border-radius: 6px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
}
