.artist {
  h1 {
    border: none;
    text-align: center;
  }
}

.artist-fallback {
  background-color: white;
  background-image: url("https://www.sandiegohousemusic.com/images/housemusic192.png");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.artist-fallback,
.artist-image {
  border-radius: 6px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
}

.artist-bio {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  margin: 0 auto;
  p {
    font-size: 0.9rem;
  }
}

.artist-tags span {
  padding: 3px 15px;
  margin: 5px;
  border: 1px solid $blue;
  border-radius: 16px;
  font-size: 0.8rem;
  text-align: center;
  display: inline-block;
  background-color: $blue;
  color: $white;
}
