.top-artists-list {
  padding: 0;
  padding-bottom: 40px;
  transition: all 0.25 ease-out;
  @media only screen and (min-width: 650px) {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
  }
  a {
    text-decoration: none;
    color: $black;
  }
}

.top-artists-single {
  position: relative;
  transition: all 0.25 ease-out;
  text-align: left;
  padding: 20px 10px 20px 10px;
  margin: 0px 0px;
  position: relative;
  background-color: $lightGrey;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
    border-radius: $borderRadius;
    padding: 20px 20px 20px 20px;
  }
}

.top-artists-single-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

.top-artists-single-counts {
  display: flex;
  flex-direction: column;

  span {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 1px 8px;
    border-radius: 6px;
    background: $lightPink;
    color: $pink;
    margin-bottom: 4px;
    // min-width: 60px;
  }
}
