@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Verdana", "Arial", sanserif;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  padding-top: 60px;
}

h1 {
  margin-top: 15px;
  padding-left: 10px;
  font-size: 20px;
  color: $blue;
  font-weight: normal;
  border-bottom: 2px solid $blue;
  @media only screen and (min-width: 768px) {
    margin-top: 15px;
    display: block;
    font-size: 30px;
  }
}

h2 {
  font-weight: normal;
  margin-top: 40px;
  padding-left: 10px;
  font-size: 18px;
  color: $blue;
  border-bottom: 2px solid $blue;
  @media only screen and (min-width: 768px) {
    display: inline-block;
    font-size: 20px;
  }
}

h3 {
  font-weight: normal;
  margin-top: 40px;
  padding-left: 10px;
  font-size: 18px;
  color: $blue;
  border-bottom: 2px solid $blue;
  @media only screen and (min-width: 768px) {
    display: inline-block;
  }
}

button {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  a {
    display: block;
    font-size: 16px;
    background-color: $white;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 50px;
    &.primary {
      color: $pink;
      border: 1px solid $pink;
    }
    &.secondary {
      color: $blue;
      border: 1px solid $blue;
    }
  }
}

img.loading {
  width: 100px;
  height: 100px;
  position: fixed;
  top: calc(40vh - 50px);
  left: calc(50vw - 50px);
}

.hidden,
.isloading {
  display: none;
}
