@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Verdana", "Arial", sanserif;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
}

h1 {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 18px;
  color: $blue;
  font-weight: normal;
  border-bottom: 2px solid $blue;
  @include media($tablet) {
    margin-top: 20px;
    display: block;
    font-size: 30px;
  }
}

h2 {
  font-weight: normal;
  margin-top: 40px;
  padding-left: 10px;
  font-size: 18px;
  color: $blue;
  border-bottom: 2px solid $blue;
  @include media($tablet) {
    display: inline-block;
  }
}

h3 {
  font-weight: normal;
  margin-top: 40px;
  padding-left: 10px;
  font-size: 18px;
  color: $blue;
  border-bottom: 2px solid $blue;
  @include media($tablet) {
    display: inline-block;
  }
}

.button {
  display: block;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
  border: 2px solid $blue;
  padding: 15px 10px;
  background-color: $blue;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  a {
    text-decoration: none;
    color: white;
  }
}

img.loading {
  width: 100px;
  height: 100px;
  position: fixed;
  top: calc(40vh - 50px);
  left: calc(50vw - 50px);
}

.hidden,
.isloading {
  display: none;
}

.location-notice {
  margin-top: 0;
  background-color: $pink;
  color: white;
  padding: 10px;
  a {
    color: white;
  }
}

.hero-home {
  p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
}
