.main-wrap {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    padding: 20px;
    flex-direction: row-reverse;
    .upcoming-events {
      width: 65%;
      padding-bottom: 80px;
    }
    .sidebar {
      width: 35%;
    }
  }
}

.sidebar {
  padding: 0 10px;
  @media only screen and (min-width: 768px) {
    padding: 0;
  }
}

#sidebar-venues-list {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  h2 {
    width: 90%;
  }
  > div {
    width: 50%;
  }
}

#sidebar-artist-list {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  h2 {
    width: 90%;
  }
  > div {
    width: 33%;
  }
}

#eventfeed,
#artistfeed,
#musicfeed {
  padding: 0;
  padding-bottom: 40px;
  transition: all 0.25 ease-out;
  @media only screen and (min-width: 650px) {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

#eventfeed.fixed-navigation {
  margin-top: 110px;
}

.single-event {
  position: relative;
  transition: all 0.25 ease-out;
  text-align: left;
  padding: 20px 10px 20px 10px;
  margin: 0px 0px;
  position: relative;
  background-color: $lightGrey;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
  @media only screen and (min-width: 768px) {
    border-radius: $borderRadius;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
  }
  &.hidden {
    display: none;
  }
  a {
    color: #767679;
    text-decoration: none;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .event-location {
    display: none;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }
  &.view-partial {
    .event-link a {
      display: none;
    }
    &:before {
      content: "...";
      color: $borderGrey;
      font-size: 40px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  &.view-full {
    height: auto;
    .event-venue {
      padding-top: 20px;
    }
    .event-location {
      display: inline-block;
      opacity: 1;
      transition: all 0.15s ease-in-out;
    }
    .event-link a {
      display: inline-block;
    }
  }
}

.artist-fallback {
  background-color: white;
  // background-image: url("https://music.sandiegohousemusic.com/artist-images/no-image.jpg");
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-right: 20px;
}

.artist-image {
  border-radius: 6px;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-date {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: $blue;
}

.event-info {
  width: calc(100% - 100px);
}

.event-time {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $blue;
  @media only screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
}

.event-title {
  // font-size: 16px;
  color: $black;
  padding-right: 7px;
  padding-bottom: 3px;
  display: block;
}

.event-artist {
  word-wrap: anywhere;
  font-weight: 400;
  // font-size: 15px;
  line-height: 24px;
  padding-bottom: 5px;
  text-align: left;
  position: relative;
  > div {
    padding-right: 7px;
  }
  > div:nth-of-type(even) {
    color: $orange;
  }
  > div:nth-of-type(odd) {
    color: $pink;
  }
  @media only screen and (min-width: 768px) {
    margin-right: 0px;
    padding-bottom: 5px;
  }
}

.artist {
  display: block;
  text-align: left;
}

.event-image {
  display: none;
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 20px;
  margin-bottom: 30px;
  border-radius: $borderRadius;
  @media only screen and (min-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

.event-venue {
  display: block;
  font-size: 15px;
  line-height: 26px;
  color: $black;
}

.event-location {
  @media only screen and (min-width: 768px) {
    display: block;
  }
}

.event-location span {
  padding-top: 5px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  a {
    color: #c1c1c1;
  }
}

.event-location img {
  position: relative;
  top: 0px;
  width: 10px;
  height: 10px;
  margin-left: 7px;
}

.event-link a {
  font-size: 12px;
  text-decoration: none;
  border: 1px solid rgb(221, 221, 221);
  margin-top: 20px;
  display: inline-block;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: $borderRadius;
  color: rgb(180, 180, 180);
  @media only screen and (min-width: 768px) {
    margin-top: 30px;
  }
  &:hover {
    text-decoration: none !important;
  }
}

.special-event {
  background-color: rgb(250, 212, 218);
  display: block;
  height: auto;
  border: 4px solid pink;
}

.special-event .event-info {
  width: 100%;
}

.special-event .event-date {
  font-size: 18px;
  padding-bottom: 10px;
}
.special-event .artist {
  font-size: 23px;
  padding-bottom: 15px;
}
