.main-wrap {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 768px) {
    padding: 20px;
    flex-direction: row-reverse;
    .upcoming-events {
      // width: 65%;
      width: 100%;
      padding-bottom: 80px;
    }
    .sidebar {
      // width: 35%;
    }
  }
}

.sidebar {
  padding: 0 10px;
  @media only screen and (min-width: 768px) {
    padding: 0;
  }
}

#sidebar-venues-list {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  h2 {
    width: 90%;
  }
  > div {
    width: 50%;
  }
}

#sidebar-artist-list {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  h2 {
    width: 90%;
  }
  > div {
    width: 33%;
  }
}

#eventfeed,
#artistfeed,
#musicfeed {
  padding: 0;
  padding-bottom: 40px;
  transition: all 0.25 ease-out;
  @media only screen and (min-width: 650px) {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media only screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

#eventfeed.fixed-navigation {
  margin-top: 110px;
}
