// .nav-bar {
//   height: 60px;
//   background-color: white;
//   border-bottom: 1px solid $borderGrey;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 8999;
// }

.nav-burger {
  cursor: pointer;

  top: 1rem;
  right: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: -9px;
  z-index: 8999;
  span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.nav-overlay {
  text-transform: uppercase;
  left: 0;
  right: 0;
  width: 100vw;
  transition: all 0.25 ease-in;
  height: calc(100vh);
  background-color: $white;
  position: fixed;
  text-align: center;
  height: calc(100vh);
  z-index: 1;
  &.nav-open {
    top: 0px;
  }
  &.nav-closed {
    top: calc(-100vh);
  }
  img.logo {
    margin: 0 auto;
    padding-top: 80px;
  }
  .nav-items {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    a {
      color: $black;
      padding: 20px;
      text-decoration: none;
      font-size: 30px;
    }
  }

  .social-items {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: $black;
      padding: 20px;
      text-decoration: none;
      font-size: 30px;
    }
    span {
      display: none;
    }
  }

  .twitch-follow {
    padding-top: 1rem;
    color: $pink;
    a {
      color: $pink;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
