.hero-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(80vh - 80px);
  h1 {
    display: inline-block;
    text-align: center;
    border: none;
  }
  p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  button {
    margin-top: 3em;
  }
}

.home-your-location {
  margin-top: 6em;
  p strong {
    font-size: 18px;
    font-weight: normal;
  }
}

.home-search {
  margin-top: 5em;
}
