.hero-home {
  display: flex;
  flex-direction: column;
  background-color: $lightGrey;
  padding: 0 2em;
  height: calc(100vh - 60px);

  > div {
    text-align: center;
  }
  h1 {
    padding-top: 26vh;
    text-align: center;
    border: none;
    font-size: 30px;
    @media only screen and (min-width: 768px) {
      padding-top: 33vh;
      font-size: 35px;
    }
  }
}

.home-your-location {
  p {
    text-align: center;
  }
  p strong {
    font-size: 18px;
    font-weight: normal;
  }
}

.home-search {
  margin-top: 0.5em;
}

.one {
  min-height: calc(100vh - 80px);
}

.two {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      padding: 10px 0px;
      @media only screen and (min-width: 768px) {
        width: 25%;
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

footer {
  padding: 40px;
  text-align: center;
  font-size: 12px;
  color: $borderGrey;
  a {
    color: $borderGrey;
    text-decoration: none;
  }
}
