.hero-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(80vh - 140px);
  > div {
    text-align: center;
  }
  h1 {
    text-align: center;
    border: none;
    font-size: 30px;
    @media only screen and (min-width: 768px) {
      font-size: 35px;
    }
  }
}

.home-your-location {
  text-align: center;

  p strong {
    font-size: 18px;
    font-weight: normal;
  }
}

.home-search {
  margin-top: 2em;
}
