.modal {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: 9999;
}

.modal-open {
  position: fixed;
}

.modal-closed {
  display: none;
}

.modal-close {
  display: block;
  position: relative;
  text-align: right;
  right: 10px;
  top: 20px;
  font-size: 40px;
}

.modal-content {
  overflow: scroll;
  background-color: $white;
  height: 100vh;
  width: calc(100vw - 20px);
  padding-left: 10px;
  padding-right: 10px;
  h3 {
    margin: 0 auto;
    max-width: 800px;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  p {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  a {
    word-wrap: break-word;
  }
  iframe {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
}
