#musicfeed {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  @include media($tablet) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.single-music {
  border-radius: 6px;
  background-color: $lightGrey;
  margin: 0px 0px;
  position: relative;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  &:before {
    content: "...";
    color: $borderGrey;
    font-size: 40px;
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
  a {
    text-decoration: none;
    color: $blue;
  }
  .single-music-image {
    border-radius: 6px;
    overflow: hidden;
    height: 40vw;
    @include media($tablet) {
      height: 20vw;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  span {
    padding: 10px 0;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    @include media($desktop) {
      padding: 15px 0;
      font-size: 16px;
      line-height: 18px;
    }
  }
  .single-music-time {
    display: block;
    width: calc(100% - 10px);
    border-top: 1px solid $borderGrey;
    position: absolute;
    bottom: 1px;
    left: 0px;
    font-size: 10px;
    padding-left: 10px;
    padding-top: 2px;
    color: $darkerGrey;
  }
}
