@use "variables" as *;

.spinner {
  > div {
    z-index: 9999;
  }

  .loader {
    width: 100px;
    height: 90px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    right: 0%;
    img {
      width: 100px;
      height: 50px;
    }
    span {
      display: block;
      text-align: center;
      color: $pink;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
