$white: #fff;
$black: #04092c;
$lightGrey: #f6f6fb;
$borderGrey: #d3d3dc;
$blue: #1c94a5;
$pink: #ce3197;
$lightPink: #fbe5f3;
$orange: #f97316;
$green: #10b981;

$primary-color: $pink;

$borderRadius: 8px;
$boxShadow: 0px 3px 10px rgba(black, 0.15);
$fontFamily: "Poppins", "Verdana", "Arial", sanserif;
