// Colors

$white: #fff;
$black: #04092c;
$lightGrey: #f6f6fb;
$verylightGrey: #e9ecef;
$darkerGrey: #adb5bd;
$borderGrey: #d3d3dc;

// $grey: #565656;

$blue: #1c94a5;
$pink: #ce3197;
$hotPink: #eb0077;
$lightPink: #fbe5f3;
$green: #10b981;
$limeGreen: #07e436;
$orange: #f97316;
$theOrange: #fd9300;
$moarOrange: #ff6600;

$lightblue: #38c0e6;
$darkblue: #02034a;

// Media Query break points

$tablet: 768px;
$desktop: 1080px;
$full: 1480px;

$ipad-min: 768px;
$ipad-max: 1024px;

$ipadpro-min: 1024px;
$ipadpro-max: 1366px;

$ipad: ipads;
$ipads: ipads;

$borderRadis: 5px;
$boxShadow: 0px 3px 16px rgba(black, 0.16);

$fontFamily: 'Poppins', 'Verdana', 'Arial', sanserif;
